os: osx
language: node_js
node_js: '8.0.0'
before_install:
  - brew install msitools
  - brew install rpm 
  - brew install wine
script:
  - travis_wait yarn build.linux && echo "OK √"
  - travis_wait yarn build.mac && echo "OK √"
  - travis_wait yarn build.win32 && echo "OK √"
after_success:
  - travis_wait yarn package && git add Build/Release/* && echo "OK √"
before_deploy:
  - git add ./Build/Releases/*
  - git commit -am --amend
  - git tag 'v1.0.0'
  - yarn publish-release --assets Build/Releases/*.dmg,Build/Releases/*.msi,Build/Releases/*.rpm,Build/Release/*.deb --skipAssetsCheck --token ${GH_TOKEN}
deploy:
  provider: releases
  api_key: ${GH_TOKEN}
  skip_cleanup: true
  file_glob: true
  file:
  - "./Build/Releases/*.msi"
  - "./Build/Releases/*.rpm"
  - "./Build/Releases/*.dmg"
  on:
    repo: etaletai13/gexpress
    tags: true
